@import url(./vendor/normalize.css);

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 100%;
  background-color: #f9f9f9;
}

.header {
  background-image: url(./image/header-back.jpg);
  display: flex;
  justify-content: center;

}

.header__container {
  height: 86px;
  width: 1150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.header__title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: opx;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__link:hover {
  border-bottom: 1px solid black;
}

.content {
  display: flex;
  flex-direction: column;
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./image/wd24_60x60.jpg);
}

.lead__logo {
  max-width: 850px;
  margin: 0;
  margin-top: 50px;

}

.lead__title {
  margin: 0;
  font-size: 36px;
  line-height: 1.5;
  font-weight: 300;
  text-align: center;
  color: inherit;
  max-width: 748px;
  margin-top: 50px;
  color: white;
  margin-bottom: 40px;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 1150px;
}

.intro__title {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
  text-align: inherit;
  color: inherit;
  text-align: center;
}

.intro__subtitle {
  margin: 0;
  font-size: 24px;
  line-height: 1.37;
  font-weight: 400;
  text-align: center;
  color: inherit;
}

.intro__logo {
  margin-top: 20px;
}

.about-plus {
  max-width: 1150px;
  margin: 0 auto;
  margin-top: 60px;

}

.about-plus__title {
  margin: 0;
  font-size: 24px;
  line-height: 1;
  font-weight: 500;
  text-align: inherit;
  color: inherit;
  border-bottom: solid 1px rgb(172, 168, 168);
  padding-bottom: 30px;
}

.about-plus__title-last {
  border: 0;
}

.about-plus__subtitle {
  margin: 0;
  font-size: 20px;
  line-height: 1.37;
  font-weight: 400;
  text-align: inherit;
  color: inherit;
  margin-top: 20px;
}

.about-plus__image {
  margin: 0 auto;
  width: 920px;
  margin-top: 20px;

}

.details {
  display: flex;
  flex-direction: column;
}

.about-plus__image-bottom {
  max-width: 1150px;
  margin-bottom: 50px;
}

.container-plus {
  background-color: white;
  min-height: 300px;
  display: flex;
  flex-direction: row;
}

.container-plus__text {
  display: flex;
  flex-direction: column;
}

.container-plus__image {
  width: 464px;
}

.container-plus__container {
  max-width: 1150px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container-plus__title {
  margin: 0;
  margin-top: 70px;
  font-size: 24px;
  line-height: 1.7;
  font-weight: 700;
  text-align: inherit;
  color: inherit;
}

.container-plus__subtitle {
  margin: 0;
  margin-top: 10px;
  font-size: 20px;
  line-height: 1.37;
  font-weight: 400;
  text-align: inherit;
  color: inherit;
}

.advantages {
  display: flex;
  flex-direction: column;
}

.advantages__title {
  margin: 0;
  margin-top: 50px;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
  text-align: inherit;
  color: inherit;
  text-align: center;
}

.advantages__blocks {
  width: 1150px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 90px;
}

.advantages__block {
  width: 550px;
  min-height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;

}

.advantages__list {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 500;
  text-align: inherit;
  color: inherit;
  list-style: none;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
}

.advantages__list>li {
  padding-left: 20px;
  position: relative;
  margin: 20px;
}

.advantages__list>li:before {
  content: '✔';
  position: absolute;
  top: 0;
  left: -10px;
  color: black;
}

.product-selection {
  background-image: url(./image/wd24_60x60.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-selection__title {
  margin: 0;
  font-size: 44px;
  line-height: 1.2;
  font-weight: 500;
  text-align: inherit;
  color: inherit;
  text-align: center;
  margin-top: 90px;
}

.product-selection__link {
  text-decoration: none;
  color: #76461C;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 26px;
  font-weight: 600;
  line-height: 170px;
  width: 180px;
  height: 170px;
  background-image: url(./image/srybb.png);
  text-align: center;
  vertical-align: middle;
  margin-top: 50px;
  margin-bottom: 50px;
}
.payment{
width: 1150px;
margin: 0 auto;
margin-top: 60px;
}
.payment__blocks{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.payment__block{
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.payment__title{
  margin: 0;
  font-size: 24px;
  line-height: 1.7;
  font-weight: 700;
  text-align: inherit;
  color: inherit;
  margin-top: 20px;
}
.payment__subtitle{
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 400;
  text-align: inherit;
  text-align: center;
}
.footer{
  background-color: black;
  margin-top: 60px;
}
.footer__blocks{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1150px;
  margin: 0 auto;

}
.footer__block{
  width: 200px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.footer__text{
  margin: 0;
  color: white;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}
.footer__image{
  width: 120px;
  margin-top: 70px;
}
.footer__lists{
  list-style-type: none;
  padding: 0;
  margin: 0;

}
.footer__list{
  margin: 0;
  margin-top: 20px;
  font-size: 20px;
}
.footer__link{
  color: white;
  text-decoration: none;

}
/*Выпадающий список */

summary::-webkit-details-marker {
  display: none;
}

summary::-moz-list-bullet {
  list-style-type: none;
}

summary::marker {
  display: none;
}

summary {
  padding: .3em .6em .3em 1.5em;
  display: flex;
  flex-direction: column;
  font-size: 1.4em;
  cursor: pointer;
  position: relative;
}

summary:before {
  left: .3em;
  top: .4em;
  color: transparent;
  background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
  width: 1em;
  height: 1em;
  content: "";
  position: absolute;
  transition: transform .5s;
}

details[open]>summary:before {
  transform: rotateZ(90deg);
}

summary~* {
  padding: 0 1em 0 1em;
}

details[open] summary~* {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

summary:focus {
  outline: 0;
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(0, 0, 0, 0.3);
}

details {
  display: block;
  margin-bottom: .5rem;
}

body {
  background: #edf2f7;
}
