.accordion {
  max-width: 1150px; margin: 0 auto;
}

.accordion__heading {
  display: flex;
  position: relative;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 15px;
  font-family: 'Ebgaramond', 'Arial', 'sans-serif';
  font-size: 24px;
  line-height: 1;
  font-weight: 500;
  text-align: inherit;
  color: inherit;
  border-bottom: solid 1px rgb(172, 168, 168);
  padding-bottom: 30px;
  margin-right: 20px;
  background-color: rgba(225, 202, 141, 0.08);
  width: calc(100% - 20*2px);
}
@media screen and (max-width: 425px) {
  .accordion__heading{

  }
}

.accordion__heading:after, .accordion__heading:before {
  right: .3em;
  top: .4em;
  color: transparent;
  background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=") no-repeat 50% 50% / 1em 1em;
  transform: rotateZ(90deg);
  width: 1em;
  height: 1em;
  content: "";
  position: absolute;
  transition: all 0.1s;
}

.accordion__checkbox:checked~.accordion__heading:before {
  transform: rotate(90deg);
  opacity: 0;
  transition: all 0.1s;
}

.accordion__heading:after {
  transform: rotate(90deg);
  transition: all 0.1s;
}

.accordion__checkbox:checked~.accordion__heading:after {
  transform: rotate(270deg);
}

.accordion__checkbox {
  display: none; position: absolute; left: -9999em;
}

.accordion__checkbox:checked~.accordion__content {
  max-height: 2000px;
  transition: all 2s;
}

.accordion__content {
  max-height: 0; overflow: hidden; padding: 0 15px;
  transition: all 0.5s;
}

