.product-selection__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-image: url(../../../image/spil-btn.png);
  background-size: contain;
}
.product-selection__link:hover{
  cursor: pointer;
}
