.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../image/photo1676627042.jpeg);
  overflow: hidden;
  min-height: 100vh;
}
@media screen and (max-width: 425px) {
  .lead{
    min-height: 100vh;
  }
}
