.advantages__title {
  margin: 0;
  margin-top: 50px;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
  text-align: inherit;
  color: inherit;
  text-align: center;
}
@media screen and (max-width: 425px) {
  .advantages__title{
    font-size: 30px;
    margin-top: 20px;
    font-size: 34px;
line-height: 1.37;
font-weight: 700;
width: calc(100% - 2*15px);
margin: 0 auto;
  }
}
