.payment__block1 {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../../image/block_pay2.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
}
.payment__block2 {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../../../image/dostavka-new.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.payment__block3 {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: black


}
@media screen and (max-width: 425px) {
  .payment__block1,.payment__block2,.payment__block3,.payment__block4{
    width: 100%;
    margin-bottom: 20px;
  }
}

