.container-plus__image {
  width: 464px;
}
@media screen and (max-width: 425px) {
  .container-plus__image{
    width: calc(100% - 2*30px);
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
  }
}
