.advantages__blocks {
  width: 1150px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 90px;
}
@media screen and (max-width: 425px) {
  .advantages__blocks{
    margin-top: 20px;
    width: calc(100% - 2*10px);
    flex-direction: column;
  }
}
