.footer__blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1150px;
  margin: 0 auto;
}
@media screen and (max-width: 425px) {
  .footer__blocks{
    flex-direction: column;
    align-items: center;
  }
}
