.about-plus__subtitle {
  margin: 0;
  font-family: 'Ebgaramond', 'Arial', 'sans-serif';
  font-size: 20px;
  line-height: 1.37;
  font-weight: 400;
  text-align: inherit;
  color: inherit;
  margin-top: 20px;
}
@media screen and (max-width: 425px) {
  .about-plus__subtitle{
    font-size: 20px;
  }
}
