@keyframes show{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
.about-plus__subtitle {
  margin: 0;
  font-family: 'Ebgaramond', 'Arial', 'sans-serif';
  font-size: 20px;
  line-height: 1.37;
  font-weight: 400;
  text-align: inherit;
  color: inherit;
  margin-top: 20px;
  animation: show 3s linear;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

@media screen and (max-width: 425px) {
  .about-plus__subtitle{
    font-size: 20px;
  }
}
