.product-selection__link-text{
  position: absolute;
  color: #76461C;
  background: none;
  border: none;
  z-index: 10;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  font-size: 18px;
  font-weight: 700;
}
.product-selection__link-text:hover{

}
