.header__container {
  min-height: 86px;
  width: 1150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  opacity: 1;
}
@media screen and (max-width: 425px) {
  .header__container{
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
}
