.header__container {
  min-height: 86px;
  width: 1150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: 1;
}
@media screen and (max-width: 320px) {
  .header__container{
    width: 320px;
    flex-direction: column;
    align-items: center;
  }
}
