.element-animation{
  opacity: 0;
  transform: translateX(20%);
}
.element-animation.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateX(0%);
}
.element-animation.element-show.lead__title{
  opacity: 0.6;
}
