.about-plus__image-bottom {
  max-width: 1150px;
  margin-bottom: 50px;
}
@media screen and (max-width: 425px) {
  .about-plus__image-bottom{
    width: calc(100% - 2*30px);
    display: flex;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
