.about-plus__title {
  margin: 0;
  font-family: 'Ebgaramond', 'Arial', 'sans-serif';
  font-size: 24px;
  line-height: 1;
  font-weight: 500;
  text-align: inherit;
  color: inherit;
  border-bottom: solid 1px rgb(172, 168, 168);
  padding-bottom: 30px;
}
@media screen and (max-width: 425px) {
  .about-plus__title{

  }
}
