.intro__title {
  margin: 0;
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
  text-align: inherit;
  color: inherit;
  text-align: center;
  color: black;
  margin-top: 46px;
}
@media screen and (max-width: 425px) {
  .intro__title{
    font-size: 34px;
    line-height: 1.37;
    font-weight: 700;
    color: inherit;
  }
}
